
@using MyCompanyName.AbpZeroTemplate.Web.Areas.AppAreaName.Models.Common.Modals
@using MyCompanyName.AbpZeroTemplate.Web.Areas.AppAreaName.Models.Processors
@model ProcessorViewModel

@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="ProcessorInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Name") :</h6>
                @Model.Processor.Name
            </div>
            <div class="col-6 mb-3">
                <h6>@L("SerialNumber") :</h6>
                @Model.Processor.SerialNumber
            </div>
            <div class="col-6 mb-3">
                <h6>@L("PartNumber") :</h6>
                @Model.Processor.PartNumber
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalFooterWithClose.cshtml")