@using MyCompanyName.AbpZeroTemplate.Authorization
@using MyCompanyName.AbpZeroTemplate.Web.Areas.AppAreaName.Models.NetworkAdapters
@using MyCompanyName.AbpZeroTemplate.Web.Areas.AppAreaName.Startup
@model NetworkAdaptersViewModel
@{
ViewBag.CurrentPageName = AppAreaNamePageNames.Host.NetworkAdapters;
}
@section Scripts
{
<script abp-src="/view-resources/Areas/AppAreaName/Views/NetworkAdapters/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title='@L("NetworkAdapters")' description='@L("NetworkAdaptersHeaderInfo")'>
        <button id="ExportToExcelButton" class="btn btn-outline btn-outline-success btn-active-light-success me-1"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

        @if (IsGranted(AppPermissions.Pages_NetworkAdapters_Create))
        {
        <button id="CreateNewNetworkAdapterButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewNetworkAdapter")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">

                            <div class="my-3">
                                <div class="input-group">
                                    <input type="text" id="NetworkAdaptersTableFilter" class="form-control" placeholder='@L("SearchWithThreeDot")' value="@Model.FilterText">
                                    <button id="GetNetworkAdaptersButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">

                    </div>

                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="NameFilterId">@L("Name")</label>
                            <input type="text" class="form-control" name="nameFilter" id="NameFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="PhysicalAddressFilterId">@L("PhysicalAddress")</label>
                            <input type="text" class="form-control" name="physicalAddressFilter" id="PhysicalAddressFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="IPv4AddressFilterId">@L("IPv4Address")</label>
                            <input type="text" class="form-control" name="iPv4AddressFilter" id="IPv4AddressFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="IPv6AddressFilterId">@L("IPv6Address")</label>
                            <input type="text" class="form-control" name="iPv6AddressFilter" id="IPv6AddressFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="UseDHCPFilterId">@L("UseDHCP")</label>
                        <select class="form-select" name="UseDHCPFilter" id="UseDHCPFilterId">
                            <option value="-1">@L("All")</option>
                            <option value="0">@L("False")</option>
                            <option value="1">@L("True")</option>
                        </select>
                    </div>

                </div>
                <div class="row my-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="NetworkAdaptersTable" class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                        <thead>
                            <tr>
                                <th></th>

                                <th>@L("Actions")</th>
                                <th>@L("Name")</th>
                                <th>@L("PhysicalAddress")</th>
                                <th>@L("IPv4Address")</th>
                                <th>@L("IPv6Address")</th>
                                <th>@L("UseDHCP")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>