@using MyCompanyName.AbpZeroTemplate.Authorization
@using MyCompanyName.AbpZeroTemplate.Web.Areas.AppAreaName.Models.BaseBoards
@using MyCompanyName.AbpZeroTemplate.Web.Areas.AppAreaName.Startup
@model BaseBoardsViewModel
@{
    ViewBag.CurrentPageName = AppAreaNamePageNames.Host.BaseBoards;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/AppAreaName/Views/BaseBoards/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title='@L("BaseBoards")' description='@L("BaseBoardsHeaderInfo")'>
        <button id="ExportToExcelButton" class="btn btn-outline btn-outline-success btn-active-light-success me-1"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

        @if (IsGranted(AppPermissions.Pages_BaseBoards_Create))
        {
            <button id="CreateNewBaseBoardButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewBaseBoard")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">

                            <div class="my-3">
                                <div class="input-group">
                                    <input type="text" id="BaseBoardsTableFilter" class="form-control" placeholder='@L("SearchWithThreeDot")' value="@Model.FilterText">
                                    <button id="GetBaseBoardsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                
                <div class="row align-items-center">
                    <table id="BaseBoardsTable" class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                        <thead>
                            <tr>
                                <th></th>

                                <th>@L("Actions")</th>
                                <th>@L("Manufacturer")</th>
                                <th>@L("Model")</th>
                                <th>@L("SerialNumber")</th>
                                <th>@L("UUID")</th>
                                <th>@L("Description")</th>
                                <th>@L("CreateTime")</th>
                                <th>@L("UpdateTime")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>